body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  margin: auto;
  min-width: 358px;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
/* score */
#score {
  color: black;
}
footer{
  font-family: 'Press Start 2P', cursive;
  color: antiquewhite;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #001022;
  color: white;
  text-align: center;
  color: white;
  text-align: center;
  /* padding: 10px; */
}
.version{
  font-size: 0.3em;
  margin: 0%;
  padding: 0%;
}
/* button  */
#retry{
   background-color: #FEF2BF;
   font-family: 'Press Start 2P', cursive;
   padding: 1em;
   justify-content: center;
   font-weight: 900;
   border: 5px solid #001022;
  
}
/* text */
#restart{
  display: inline-block;
  padding: 15px;
}
/* highScore animation  */
#hs , #HSNumber{
  background: linear-gradient(
    to right,
    #ce821f 20%, #FF9000 30%, #FDDA16 70%, #FFEE82 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s ease-in-out infinite alternate;
    }
    @keyframes textShine {
      0% {
          background-position: 0% 50%;
      }
      100% {
          background-position: 100% 50%;
      }
  }
